.header
  .logo      
    = link_to "AgendaApp", new_session_path(resource_name)
  #header_link
    //if on sign up page
    //= link_to "Sign in", new_session_path(resource_name)
    //if on sign in page
    = link_to "Sign up", new_registration_path(resource_name)

