/* $dark_blue: #2B3A42; */
/* $blue: #3F5765; */
/* $light_blue: #BDD4DE; */
/* $gray: #EFEFEF; */
/* $orange: #FF530D; */ 

$dark_blue: #3E454C;
$blue:#2185C5;
$light_blue: #7ECEFD;
$gray: #FFF6E5;
$orange: #FF7F66;

$blue_hover: #1B6EA3;
$light_blue_hover: #65A4C9;


