@import 'variables';

h1 {
  color: $light-blue;
  margin: 0;
}
h2 {
  text-align: center;
  color: $light_blue;
  margin: 0;
}

/* .btn { */
/*   font-size: .75em; */
/*   color: $light_blue; */
/*   background-color: $blue; */
/* } */

/* .ui-button { */
/*   /1* border-width: 2px; *1/ */
/*   border-color: $light_blue; */
/* } */
/* .ui-state-hover { */
/*   background-color: #000; */
/*   background-image: none; */
/*   border-color: #222F33; */
/*   /1* border-width: 2px; *1/ */
/* } */

.subject {
  font-weight: bold;
  }

