@import 'variables.css.scss';

h1 {
  color: $light-blue;
  margin: 0;
}
h2 {
  text-align: center;
  color: $light_blue;
  margin: 0;
  margin-bottom: 0.5em;
}
.subject {
  font-weight: bold;
  }

/* overide the simple_form and jquery styles*/
.ui-dialog {
  background-image: none;
  background-color: $gray;
  font-family: Cabin;

  .ui-dialog-titlebar {
    background-image: none;
    background-color: $dark_blue;
    border: none;
    color: $light_blue;
  }

  select {
    background-color: $light_blue;
    background-image: none;
    color: $dark_blue;
  }
  .input 
    input {
      background-color: $light_blue;
      border: 2px inset;
    }
  .edit_dialog_submit, .add_dialog_submit {
    float: right;
    margin-top: 3em;
    background-color: $blue;
    color: $light_blue;
    border-radius: 8px;
    width: auto;
    border: none;
    padding: 0.2em 0.5em;
    cursor: pointer;
  }

  label {
    font-family: Cabin;
    color: $dark_blue;
  }

}

.ui-widget-overlay {
  background-color: $light_blue;
  background-image: none;
  opacity: .5;
}


.ui-buttonset {
  .ui-button {
    background-image: none;
    background-color: $blue;
    color: $light_blue;
    border-color: $dark_blue;
  }
    a:hover, .current {
      background-color: $blue_hover;
      color: $light_blue_hover;
    }

  .which_btn {
    margin-right: -5px;
  }
}




/*******************************/
/*buttons*/

.button {
  background-color: $blue;
  background-image: none;
  color: $light_blue;
  cursor: pointer;
  font-family: Cabin;
  border: none;
}
.button:hover {
  background-color: $blue_hover;
  color: $light_blue_hover;
}

.not_completed {
  select {
    background-color: $orange;
  }
 .input 
    input {
      background-color: $orange;
    }
}
.completed {
  select {
    background-color: $light_blue;
  }
  .input
    input {
      background-color: $light_blue;
    }
      
}

/************************/
.edit_dialog_submit:hover, .add_dialog_submit:hover {
  background-color: $blue_hover;
  color: $light_blue_hover;
}


