@import 'variables';

h1 {
  color: $light-blue;
  margin: 0;
}
h2 {
  text-align: center;
  color: $light_blue;
  margin: 0;
}

.btn {
  font-size: .75em;
  color: $light_blue;
  background-color: $blue;
}

.ui-state-hover {
  background-color: #000;
  background-image: none;
  border-color: #222F33;
  border-width: 2px;
}

.subject {
  font-weight: bold;
  }

