@import 'variables.css.scss';


.cal {
  padding: 10px;
  background-color: $gray;
  border-radius: 8px;
}

.a_popup.completed {
  background-color: $light_blue;
}
.a_popup.not_completed {
  background-color: $orange;
}
