@import 'variables.css.scss';

#sign_in_words {
  text-align: center;
  color: $light_blue;
  margin-top: 2em;
  font-size: 1.5em;
}

#form_wrapper {
  width: 80%;
  margin: 4em auto 0 auto;
  padding-bottom: 1em;
  overflow: hidden;
  border-radius: 8px;

  form {
    width: 282px;
    margin: 0 auto;
    color: $light_blue;

    #user_email, #user_password, #user_password_confirmation,
    #user_first_name, #user_last_name {
      height: 2.5em;
      width: 25em;
    }

    label {
      margin-top: 1em;
      font-size: 1.2em;
    }
    label[for='user_remember_me'] {
      margin-left: 2px;
      margin-top: -0.75em;
    }

    input[type='submit'] {
      float: right;
      font-size: 1.5em; 
      border-radius: 8px;
      padding: 4px 8px;
      color: $dark_blue;
      background-color: $orange;
      margin-top: 0.75em;
      }
    input[type='submit']:hover {
      background-color: $dark_orange;
    }
    }
  #forgot_password_link {
    text-align: right;
    font-size: 0.75em;
    margin-top: 0.4em;
    a {
      color: $light_blue;
      text-decoration: none;
    }
    a:visited {
      color: $light_blue;
    }
    a:hover {
      color: $light_blue_hover;
    }
}
}

#header_link {
  float: right;
  margin: 0.7em 0.5em;
  border-radius: 8px;

  a {
    text-align: center;
    font-size: 1em;
    color: $light_blue;
    text-decoration: none;
    border-radius: 8px;
    padding: 4px 8px;
    background-color: $blue;
  }
  a:visited {
    color: $light_blue;
  }
  a:hover {
    color: $light_blue_hover;
  }
}


