@import 'variables';

body {
  font-family: "Cabin", Optima, sans-serif;
  background-color: $dark_blue;
  margin: 0;
  z-index: 0;
}

.header {
  overflow: hidden;
  background-color: $light_blue;

  h1 {
    color: $blue;
    width: 300px;
  }
  
  .name {
    float: right;
    color: $blue;
    margin: 1.2em 0 0 0;
  }



  h1 {
    text-align: left;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}
.which_btn {
  font-size: .75em;
}

.new_assignment_button {
  background-color: #555;
  color: #fff;
  width: 7em;
  margin-bottom: 20px;
}
.new_assignment_button a:hover {
  color:#fff;
}

.week {
  width: 767px;
  margin: 2em auto 0 auto;  
}
.cal {
  width: 542px;
  margin: 0 auto;
  .cal_header {
    width: 700px;
    margin: 0 auto;
  }
  h2 { 
    float: left; 
   } 
}
.side {
  float: left;
}

.assignment_box {
  background-color: $gray;  
  width: 350px;
  margin: 15px;
  padding: 0.1em;
  color: $dark_blue;         
  -moz-box-shadow: 3px 3px 6px #202B30;
  -webkit-box-shadow: 3px 3px 6px #202B30;
  box-shadow: 0px 0px 10px #809096;

  -moz-border-radius: 4px;
  border-radius: 4px;

  .day_heading {
    font-weight: bold;
    margin: 2px;
  }
  .due_time {
    float: right;
    margin-right: 0.5em;
    color: $dark_blue;
    text-align: center;
    font-weight: bold;
  }
  .subject {
    margin-right: 0.5em;
    color: $dark_blue;
  }
  .description {
    float:left;
    color: $dark_blue;
    width: 100%;
    font-weight: normal;
  }
  .completed {
    margin: 10px;
    overflow: hidden;
    padding: 0.1em 0 0.2em 0.1em;
  }
  .not_completed {
    background-color: $orange;
    margin: 10px;
    overflow: hidden;
    padding: 0.1em 0 0.2em 0.1em;
  }
  .as_box {
    position: relative;
  }
}

.cal {
  width: 542px;
  margin: 0 auto;
  .cal_header {
    width: 700px;
    margin: 0 auto;
  }
  h2 { 
    float: left; 
   } 
}

table {
  border-collapse: collapse;
  /* margin: 10px auto; */
  border: 1px solid $dark_blue;
  background-color: $gray;
  td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: $gray;
    min-width: 75px;
    min-height: 75px;

    .day_cal {
      min-height: 75px;
    }
    
  }
  .cal_day {
    color: $dark_blue;
  }
  .subj_link {
    cursor: pointer;
    margin-bottom: 0.2em;
  }
}

.completed {
  background-color: $light_blue;
}

.not_completed {
    background-color: $orange;
}
.nav_view{
  float: left;
  a {
    background-color: $light_blue;
    border-color: $blue;
  }
}
.edit_btn {
  float: right;
  visibility: hidden;
  margin-top: 0.1em;
  margin-right: 0.3em;
  width: 13px;
  height: 13px;
  background-image: url("pencil.png");
  cursor: pointer;
}
.delete_btn {
  float: right;
  visibility: hidden;
  margin-top: 0.1em;
  margin-right: 0.3em;
  width: 13px;
  height: 13px;
  background-image: url("delete.png"); 
  cursor: pointer;
}
.add_btn {
  float:right;
  margin-top: 0.2em;
  margin-right: 0.2em;
  width: 13px;
  height: 13px;
  background-image: url("add.png");
  display: none; /* toggled with jquery/js */
  cursor: pointer;
}

.choose_view {
  overflow: hidden;
  display: block;
  margin-top: 1em;
  .nav_view, h2, .rotate_through {
    display: inline-block;
  }
  .nav_view {
    font-size: .75em;
    margin-left: 1em;
  }
  .rotate_through {
    float: right;
    margin-right: 1em;
  }
}

.a_dialog.not_completed {
  background-color: $orange;
}
.a_dialog.completed {
  background-color: $light_blue;
}


.delete_btn:hover {
  background-image: url("delete_hover.png");
}
.edit_btn:hover {
  background-image: url("pencil_hover.png");
}


.as_box.not_completed{
  .edit_dialog {
    .ui-dialog select {
      background-color: $orange;
    }
  }
}
