@import 'variables.css.scss';


body {
  font-family: "Cabin", Optima, sans-serif;
  background-color: $dark_blue;
  margin: 0;
  z-index: 0;
}

.header {
  overflow: hidden;
  background-color: $light_blue;

  h1 {
    color: $blue;
    width: 300px;
  }
  
  .logo {
    margin-top: 0.2em;
    margin-bottom: 0;
  }
  
  .name {
    color: $blue;
    margin: 1.4em 0.5em 0 0;
  }


  h1 {
    text-align: left;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}
.which_btn {
  font-size: .75em;
}

.new_assignment_button {
  background-color: #555;
  color: #fff;
  width: 7em;
  margin-bottom: 20px;
}
.new_assignment_button a:hover {
  color:#fff;
}

.week {
  max-width: 774px;
  margin: 2em auto 0 auto;  
}
.cal {
  width: 542px;
  margin: 0 auto;
  .cal_header {
    width: 700px;
    margin: 0 auto;
  }
  h2 { 
    float: left; 
   } 
}
.side {
  float: left;
}

.assignment_box {
  background-color: $gray;  
  width: 350px;
  margin: 15px;
  color: $dark_blue;         
  /* -moz-box-shadow: 2px 2px 6px #000; */
  /* -webkit-box-shadow: 2px 2px 6px #000; */
  /* box-shadow: 2px 2px 6px #000; */

  -moz-border-radius: 4px;
  border-radius: 4px;

  border-width: 3px;
  border-style: solid;
  border-color: $gray;

  .day_heading {
    font-weight: bold;
    margin: 2px;
  }
  .due_time {
    float: right;
    margin-right: 0.5em;
    color: $dark_blue;
    text-align: center;
    font-weight: bold;
  }
  .subject {
    margin-right: 0.5em;
    color: $dark_blue;
  }
  .description {
    float:left;
    color: $dark_blue;
    width: 100%;
    font-weight: normal;
  }
  .completed {
    margin: 10px;
    overflow: hidden;
    padding: 0.1em 0 0.2em 0.1em;
  }
  .not_completed {
    background-color: $orange;
    margin: 10px;
    overflow: hidden;
    padding: 0.1em 0 0.2em 0.1em;
  }
  .as_box {
    position: relative;
  }
}

.cal {
  width: 542px;
  margin: 0 auto;
  .cal_header {
    width: 700px;
    margin: 0 auto;
  }
  h2 { 
    float: left; 
   } 
}



.completed {
  background-color: $light_blue;
}

.not_completed {
    background-color: $orange;
}
.nav_view{
  float: left;
  a {
    background-color: $light_blue;
    border-color: $blue;
  }
}
.edit_btn {
  float: right;
  visibility: hidden;
  margin-top: 0.1em;
  margin-right: 0.3em;
  width: 13px;
  height: 13px;
  background-image: url("pencil.png");
  cursor: pointer;
}
.delete_btn {
  float: right;
  visibility: hidden;
  margin-top: 0.1em;
  margin-right: 0.3em;
  width: 13px;
  height: 13px;
  background-image: url("delete.png"); 
  cursor: pointer;
}
.add_btn {
  float:right;
  margin-top: 0.3em;
  margin-right: 0.2em;
  width: 13px;
  height: 13px;
  background-image: url("add.png");
  display: none; /* toggled with jquery/js */
  cursor: pointer;
}
.add_btn:hover {
  background-image: url("add_hover.png");
}

.choose_view {
  overflow: hidden;
  display: block;
  margin-top: 1em;
  .nav_view, h2, .rotate_through {
    display: inline-block;
  }
  .nav_view {
    font-size: .75em;
    margin-left: 1em;
  }
  .rotate_through {
    float: right;
    margin-right: 1em;
  }
}

.a_dialog.not_completed {
  background-color: $orange;
}
.a_dialog.completed {
  background-color: $light_blue;
}


.as_box.not_completed{
  .edit_dialog {
    .ui-dialog select {
      background-color: $orange;
    }
  }
}



.delete_dialog {
  a {
    float: right;
    margin-top: 3em;
    text-decoration: none;
    background-color: $orange;
    color: $dark_blue;
    padding: 0.3em;
    border-radius: 8px;
  }
  a:hover {
    background-color: $dark_orange;
  }
}

.edit_dialog {
  input[type='submit'] {
    float: right;
    margin-top: 2em;
  }
}


.edit_btn {
  float: right;
  visibility: hidden;
  margin-top: 0.1em;
  margin-right: 0.3em;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.delete_btn {
  float: right;
  visibility: hidden;
  margin-top: 0.1em;
  margin-right: 0.3em;
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.as_box.completed, .a_dialog.completed {
  .delete_btn {
    background-image: url("delete.png");
  }
  .delete_btn:hover {
    background-image: url("delete_hover.png");
  }
  .edit_btn {
    background-image: url("pencil.png");
  }
  .edit_btn:hover {
    background-image: url("pencil_hover.png");
  }
}

.as_box.not_completed, .a_dialog.not_completed {
  .delete_btn {
    background-image: url("delete_o.png");
  }
  .delete_btn:hover {
    background-image: url("delete_hover_o.png");
  }
  .edit_btn {
    background-image: url("pencil_o.png");
  }
  .edit_btn:hover {
    background-image: url("pencil_hover_o.png");
  }
}


