
.header {
  background-color: #1e4c70;
  width: 100%;
}

.nav {
  text-align: center;
}

.nav_view {
}

.new_assignment_button {
  background-color: #ccc;
  width: 107px;
  margin-bottom: 20px;
}

.assignment_box {
  background-color: #ccc;  
  width: 600px;
  margin: 20px;
  .due_time {
    float: right;
    margin-right: 0.5em;
    color: #1a2c71;
    text-align: center;
    font-weight: bold;
  }
  .description {
     color: #fff;
  }
  .completed {
    background-color: #00ccff;
    margin: 10px;
  }
  .not_completed {
    background-color: #ff0000;
    margin: 10px;
  }
}

