@import 'variables.css.scss';


.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em; 
  @media (max-width: 625px) {
    width: 9em;  
  }
}
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: right;
  width: 40em;
  @media (max-width: 625px) {
    padding: 0.5rem;
  }
  @media (max-width: 480px) {
    float: none;
  }
}

/********/

.ui-tabs-active {
  background-color: $gray;
  a {
    background-color: $gray;
    width: 90%;
  }
}


#tabs {
  margin: 2em auto 0 auto;
  background-color: $gray;
  border-radius: 8px;
  background-image: none;
  color: $dark_blue;
  font-family: Cabin;
  width: 500px;
  min-height: 120px;
  border: none;
  @media (max-width: 567px) {
    width: 90%;
  }
  li {
    border: none;
  }
  li:hover {
    background-color: $blue_hover;
  }
  .as_box, .subject_a_date {
    @media (max-width: 400px) {
      font-size: 0.9rem;
    }
  }
  .ui-tabs-nav {
    background-color: $light_blue;
    background-image: none;
    font-family: Cabin;
    border: none;
    @media (max-width: 695px) {
      width: 30%
    }
    @media (max-width: 625px) {
      width: 30%;
      font-size: 0.8em;
    }
    @media (max-width: 480px) {
      display: none;
    }
    .ui-state-default {
      background-image: none;
      background-color: $blue;
      a {
        color: $light_blue;
        width: 90%; //so can click anywhere on tab
      }
      span {
        float: right;
      }
    }
    .ui-state-default:hover {
      background-color: $blue_hover;
      a {
        color: $light_blue_hover;
      }
    }
    .ui-tabs-active {
      color: $dark_blue;
       a {
         color: $light_blue;
         background-color: $dark_blue;
       }
    }
    .ui-tabs-active:hover {
      a {
        color: $light_blue; // this is to cancel out styling from above
      }
    }
  }
  .ui-tabs-panel {
    width:400px;
    min-height: 150px;
    @media (max-width: 695px) {
      width: 60%;
    }
    @media (max-width: 480px) {
      width: 95%;
    }
    /* @media (max-width: 625px) { */
    /*   width: 80%; */
    /* } */
  }
}

/* .ui-tabs-panel { */
/*   .as_box { */
/*     width: 330px; */
/*     margin: 0 auto; */
/*     overflow: hidden; */
/*     padding-bottom: 0.2em; */
/*     font-size: 1em; */
/*     margin-bottom: 0.5em; */
/*     @media (max-width: 695px) { */
/*       width: 90%; */
/*     } */

/*     .day_heading { */
/*       font-weight: bold; */
/*       margin: 2px; */
/*     } */
/*     .due_time { */
/*       float: right; */
/*       margin-right: 0.5em; */
/*       color: $dark_blue; */
/*       text-align: center; */
/*       font-weight: bold; */
/*     } */
/*     .subject { */
/*       margin-right: 0.5em; */
/*       color: $dark_blue; */
/*     } */
/*     .description { */
/*       float:left; */
/*       color: $dark_blue; */
/*       width: 100%; */
/*       font-weight: normal; */
/*     } */
/*     .completed { */
/*       margin: 10px; */
/*       overflow: hidden; */
/*       padding-bottom: 0.2em; */
/*     } */
/*     .not_completed { */
/*       background-color: $orange; */
/*       margin: 10px; */
/*       overflow: hidden; */
/*       padding-bottom: 0.2em; */
/*     } */
/*   } */
/*   .add_btn { */
/*     display: block; */
/*     visibility: hidden; */
/*   } */
/*   .add_dialog { */
/*     .new_assignment{ */
/*       input[type="submit"] { */
/*         float: right; */
/*       } */
/*     } */
/*   } */
/* } */

.add_subj_btn {
  margin-top: 1em;
  span {
    font-size: 1rem;
  }
}

.add_subj_btn2 {
  span {
    font-size: 0.75rem;
  }
  @media (max-width: 480px) {
    display: block;
  }
}

.add_subj_dialog {
  input[type="submit"] {
    float: right;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    border: none;
    cursor: pointer;
    border-radius: 8px;
  }
  input[type="submit"]:hover {
    background-color: $blue_hover;
    color: $light_blue_hover;
  }
}
// The theme below was taken from dropkick.js and slightly modified

/* Container */
.dk_mytheme .dk_container {
  background-image: none;
  background-color: $blue;
}

.dk_container {
  margin-left: 3px;
  float: none;
  background-image: none;
  border-radius: 8px;
  a {
    border: none;
  }
}
.dk_mytheme a {
}

.dk_container {
  a span {
    color: $light_blue;
    text-shadow: none;
    font-size: 1rem;
    margin-left: 5px;
    @media (max-width: 400px) {
      font-size: 0.9rem;
    }
  }
}

/* Toggle */
.dk_mytheme .dk_toggle {}
  .dk_mytheme .dk_toggle:hover {}

.dk_open .dk_toggle {
  background-color: $blue_hover;
  color: $light_blue_hover;
}

.dk_toggle {
  width: 180px!important; //to override inline style
  
  span.dk_label {
  }
}

/* Focus State */
.dk_mytheme.dk_focus,
.dk_mytheme:focus {}
  .dk_mytheme.dk_focus .dk_toggle {}

.dk_options_inner {
  li {
    color: $light_blue_hover;
  }
  li a {
    color: $light_blue_hover;
  }
}
/* Open State */
.dk_mytheme.dk_open {}
  .dk_mytheme.dk_open .dk_toggle {}

/* Options Menu */
.dk_mytheme .dk_options {}
  .dk_mytheme .dk_options a {}
  .dk_mytheme .dk_options a:hover,
  .dk_mytheme .dk_option_current a {}

.dk_options {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* Inner options */
.dk_mytheme .dk_options_inner {
}
.dk_options_inner {
  border: 1px solid $blue_hover;
  li a {
    background-color: $blue;
    color: $light_blue;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid $blue_hover;
  }
  li a:hover {
    border: 1px solid $blue_hover;
  }
}
li.dk_option_current a {
  background-color: $blue_hover;
  color: $light_blue_hover;
}
.dk_options_inner li a:hover {
  background-color: $blue_hover;
  color: $light_blue_hover;
  text-shadow: none;
}

/* Set a width property here */
.dk_mytheme .dk_options_inner,
.dk_mytheme.dk_touch .dk_options {
  width: 200px;
}

#dk_container_pretty {
  background-color: $blue;
}
ul.dk_options_inner {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}


//////////
.subject_a_date {
  clear: both; // clear the floats
  font-weight: bold;
  @media (max-width: 695px) {
    margin-left: 1em;
  }
}

///// for forms on other pages that use drop downs for now
.dk_fouc select {
  top: 0em;
  visibility: visible;
}

//////
.panel_text {
  text-align: center;
  @media (max-width: 530px) {
    font-size: 1rem;
  }
}


/*** Subject Bar ***/ 

.subject_bar {
  width: 500px;
  padding: .2em;
  border-radius: 6px;
  background-color: $gray;
  margin: 2rem auto 0 auto;
  height: 2.75rem;
  .select_subject {
    float: left;
    padding-top: 0.35rem;
  }
  .edit_subj_btn {
    width: auto;
  }
  @media (max-width: 567px) {
    width: 90%;
  }
  @media (max-width: 384px) {
    width: 95%;
  }
}
.edit_subj_dialog {
  input[type="submit"] {
    border-radius: 8px;
    float: right;
    margin-top: 2em;
  }
}


.delete_subj_btn.ui-button.ui-state-default {
  float: right;
  margin-left: 0.3em;
  margin-right: 0.3em;
  cursor: pointer;
  //visibility: hidden; //toggled with jquery
  @media (max-width: 416px ) {
    margin-top: 0;
    margin-right: 0;
  }

}

.delete_subj_btn.ui-button.ui-state-default:hover {
}

.delete_subj_dialog {
  a {
    float: right;
    margin-top: 1.5rem;
    background-color: $orange;
    color: $dark_blue;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
  }
  a:hover {
    background-color: $dark_orange;
  }
}

.delete_subj_btn, .edit_subj_btn {
  font-size: 0.9rem;
  display: none; // toggled with jquery
  margin-top: 0.4rem;
  @media (max-width: 445px) {
    font-size: 0.8rem;
  }
  @media (max-width: 420px) {
    font-size: 0.65rem;
  }
}

.edit_subj_btn {
  float: right;
  //visibility: hidden; //toggled with jquery
  cursor: pointer;
  @media (max-width: 416px) {
    margin-top: 0.1rem;
  }
}


.panel {
  display: none; // start at display none, toggled with jquery
  padding: 0.3rem;
  padding-bottom: 0.8rem;
}
.choose_panel {
  display: block;
}

#tabs .add_btn_subj_view.no_assignment {
  background-image: none;
  float: none;
  margin: 1rem auto 0 auto;
  width: 130px;
  height: auto;
  text-align: center;
  padding: 0.3rem;
}

#tabs .add_btn_subj_view.has_assignments {
  background-image: none;
  float: right;
  color: $light_blue;
  text-align: center;
  background-color: $blue;
  border-radius: 4px;
  width: 20px;
  height: 20px;
  margin-bottom: -1.5rem;
  .icon-plus {
    margin-top: -0.9rem;
    color: $light_blue;
    font-size: 1rem;
  }
}

#tabs .add_btn_subj_view.has_assignments:hover {
  background-color: $blue_hover;
  .icon-plus {
    color: $light_blue_hover;
  }
}

#add_subj_btn_wrapper {
  width: 510px;
  margin: 2rem auto 0 auto;
  @media (max-width: 567px) {
    width: 90%;
  }
  @media (max-width: 384px) {
    width: 95%;
  }
  @media (max-width: 320px) {
    margin-top: 1.5rem;
  }
}


.today_heading {
    background-color: $blue;
    margin-top: 3px;
    margin-left: 3px;
    padding-left: 3px;
    border-radius: 4px;
    width: 70%;
    color: $gray;
    @media (max-width: 400px) {
      width: 260px; 
    }
    span {
      float: right;
      margin-right: 4px;
      margin-top: 1px;
      font-size: 0.9em;
    }

}

#cancel_account_dialog {
  a {
    float: right;
    margin-top: 1.5rem;
    background-color: $orange;
    color: $dark_blue;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
  }
  a:hover {
    background-color: $dark_orange;
  }
}

.all_done {
  display: block; 
}

.incomplete_assignments_button {
  width: 250px;
  text-align: center;
  padding: 2px;
}
