@import 'variables.css.scss';


.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em; 
  @media (max-width: 625px) {
    width: 9em;  
  }
}
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: right;
  width: 40em;
  @media (max-width: 625px) {
    padding: 0.5rem;
  }
  @media (max-width: 480px) {
    float: none;
  }
}

/********/

.ui-tabs-nav {
  background-color: $gray;
  border-color: $gray;
}
.ui-tabs-active {
  background-color: $gray;
  a {
    background-color: $gray;
    width: 90%;
  }
}


#tabs {
  margin: 2em auto 0 auto;
  background-color: $gray;
  border-color: $gray;
  background-image: none;
  color: $dark_blue;
  font-family: Cabin;
  width: 660px;
  @media (max-width: 695px) {
    width: 90%;
  }
  li {
    border: none;
  }
  li:hover {
    background-color: $blue_hover;
  }
  .ui-tabs-nav {
    background-color: $gray;
    background-image: none;
    border-color: $gray;
    font-family: Cabin;
    @media (max-width: 695px) {
      width: 30%
    }
    @media (max-width: 625px) {
      width: 30%;
      font-size: 0.8em;
    }
    @media (max-width: 480px) {
      display: none;
    }
    .ui-state-default {
      background-image: none;
      background-color: $blue;
      a {
        color: $light_blue;
        width: 90%; //so can click anywhere on tab
      }
      span {
        float: right;
      }
    }
    .ui-tabs-active {
      background-color: $gray;
      color: $dark_blue;
       a {
         background-color: $gray;
         color: $dark_blue;
       }
    }
  }
  .ui-tabs-panel {
    width:400px;
    @media (max-width: 695px) {
      width: 60%;
    }
    @media (max-width: 480px) {
      width: 95%;
    }
    /* @media (max-width: 625px) { */
    /*   width: 80%; */
    /* } */
  }
}

.ui-tabs-panel {
  .as_box {
    width: 330px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 0.2em;
    font-size: 1em;
    margin-bottom: 0.5em;
    @media (max-width: 695px) {
      width: 90%;
    }

    .day_heading {
      font-weight: bold;
      margin: 2px;
    }
    .due_time {
      float: right;
      margin-right: 0.5em;
      color: $dark_blue;
      text-align: center;
      font-weight: bold;
    }
    .subject {
      margin-right: 0.5em;
      color: $dark_blue;
    }
    .description {
      float:left;
      color: $dark_blue;
      width: 100%;
      font-weight: normal;
    }
    .completed {
      margin: 10px;
      overflow: hidden;
      padding-bottom: 0.2em;
    }
    .not_completed {
      background-color: $orange;
      margin: 10px;
      overflow: hidden;
      padding-bottom: 0.2em;
    }
  }
  .add_btn {
    display: block;
    visibility: hidden;
  }
  .add_dialog {
    .new_assignment{
      input[type="submit"] {
        float: right;
      }
    }
  }
}

.add_subj_btn {
  margin-top: 2em;
  margin-left: 3em;
  font-size: .75em;
}

.add_subj_dialog {
  input[type="submit"] {
    margin-top: 1.5em;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: $blue_hover;
    color: $light_blue_hover;
  }
}

.delete_subj_btn {
  float: right;
  margin-top: 0.1em;
  margin-right: 0.3em;
  background-image: none;
  background-color: $blue;
  cursor: pointer;
}
.edit_subj_btn {
  float: right;
  margin-top: 0.1em;
  margin-right: 0.3em;
  background-image: none;
  background-color: $blue;
  cursor: pointer;
}


.select_subject {
  display: none;
  width: 100%;
  @media (max-width: 480px) {
    margin: 0 auto;
    display: block;
  }
  select {
    /* webkit-appearance: none; */
    /* width: 200px; */
    /* background-color: $blue; */
    /* border-color: $blue; */
    /* color: $light-blue; */
  }
}

/**
 * Your theme name here
 *
 * Say something about the theme
 *
 * Give yourself some credit here
 *
 */

/* Container */
.dk_mytheme .dk_container {
  background-image: none;
  background-color: $blue;
}

.dk_container {
  width: 180px;
  margin: 0 auto;
  float: none;
  background-image: none;
  a {
    border: none;
  }
}
.dk_mytheme a {
}

.dk_container {
  a span {
    color: $light_blue;
    text-shadow: none;
    font-size: 0.9rem;
  }
}

/* Toggle */
.dk_mytheme .dk_toggle {}
  .dk_mytheme .dk_toggle:hover {}

.dk_open .dk_toggle {
  background-color: $blue_hover;
  color: $light_blue_hover;
}

.dk_toggle {
  width: 125px!important; //to override inline style
  
  span.dk_label {
  }
}

/* Focus State */
.dk_mytheme.dk_focus,
.dk_mytheme:focus {}
  .dk_mytheme.dk_focus .dk_toggle {}

.dk_options_inner {
  li {
    color: $light_blue_hover;
  }
  li a {
    color: $light_blue_hover;
  }
}
/* Open State */
.dk_mytheme.dk_open {}
  .dk_mytheme.dk_open .dk_toggle {}

/* Options Menu */
.dk_mytheme .dk_options {}
  .dk_mytheme .dk_options a {}
  .dk_mytheme .dk_options a:hover,
  .dk_mytheme .dk_option_current a {}

.dk_options {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* Inner options */
.dk_mytheme .dk_options_inner {
}
.dk_options_inner {
  border: 1px solid $blue_hover;
  li a {
    background-color: $blue;
    color: $light_blue;
    font-weight: normal;
    text-shadow: none;
    border: 1px solid $blue_hover;
  }
  li a:hover {
    border: 1px solid $blue_hover;
  }
}
li.dk_option_current a {
  background-color: $blue_hover;
  color: $light_blue_hover;
}
.dk_options_inner li a:hover {
  background-color: $blue_hover;
  color: $light_blue_hover;
  text-shadow: none;
}

/* Set a width property here */
.dk_mytheme .dk_options_inner,
.dk_mytheme.dk_touch .dk_options {
  width: 200px;
}

#dk_container_pretty {
  background-color: $blue;
}
ul.dk_options_inner {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}


//////////
.subject_a_date {
  margin-left: 2em;
  @media (max-width: 695px) {
    margin-left: 1em;
  }
}

///// for forms on other pages that use drop downs for now
.dk_fouc select {
  top: 0em;
  visibility: visible;
}


