

.header {
  background-color: #1e4c70;
  width: 100%;
}

.new_assignment_button {
  background-color: #ccc;
  width: 107px;
  margin-bottom: 20px;
}

.assignment_box {
  background-color: #ccc;  
  width: 600px;
  margin: 20px;
  .due_date_and_time {
    color: #1a2c71;
    text-align: center;
    font-weight: bold;
  }
  .description {
     color: #fff;
  }
  .completed {
    background-color: #00ccff;
  }
  .not_completed {
    background-color: #ff0000;
  }
}


