@import 'variables.css.scss';


#today_border {
  border-color: $light_blue;
  .day_heading {
    background-color: $blue;
  }
}
#today_nc_border {
  border-color: $orange;
  .day_heading {
    padding-left: 3px;
    background-color: $blue;
    border-radius: 4px;
    width: 85%;
    
    span {
      float: right;
      margin-right: 4px;
      margin-top: 1px;
      font-size: 0.8em;
    }
  }
}
