@import 'variables.css.scss';

#today_border, #today_nc_border {
  .day_heading {
    background-color: $blue;
    margin-top: 3px;
    margin-left: 3px;
    padding-left: 3px;
    border-radius: 4px;
    width: 85%;

    span {
      float: right;
      margin-right: 4px;
      margin-top: 1px;
      font-size: 0.8em;
    }

  }
}
/* #today_border { */
/*   border-color: $light_blue; */
/*   .day_heading { */
/*     background-color: $blue; */
/*   } */
/* } */
/* #today_nc_border { */
/*   border-color: $orange; */
/* } */

/* .add_dialog form { */
/*   select, input { */
/*     display: block; */
/*   } */
/*   .due_on_due_at { */
/*     display: block; */
/*     select { */
/*       display: inline-block; */
/*     } */
/*   } */
/*   .completed_radio_btns { */
/*     display: block; */
/*     input { */
/*       display: inline-block; */
/*     } */
/*   } */
/* } */
